	body
	{
		padding:50px;
		font-family: 'Roboto';
		font-size: 12px;
	}
	.twbs .row
	{
		margin-bottom: 5px;
	}
	.twbs label
	{
		    position: relative;
	    top: 8px;
	    font-size: 14px;
	}
	.twbs select
	{
		width: 100%;
		padding:4px;
		font-size:16px !important;
	}
	.twbs select.w90
	{
		width:90%;
	}
	.twbs .btn_reveal
	{
		cursor: pointer;
		display: inline-block;
	    background: #4fa523;
	    color: #fff;
	    font-weight: bold;
	    text-align: center;
	    width: 100%;
	    padding: 5px;
	    border-radius: 5px;
	}
	.twbs .row.header
	{
		font-weight: bold;
		margin-bottom: 20px;
	}
	.twbs .row.header .col-md-2
	{
		font-size: 14px;
    	color: #be0000;
    	text-transform: uppercase;
    	text-align: center;
	}
	.twbs .aleft
	{
		text-align: left !important;
	}
	.twbs .center.bold
	{
		text-align: center;
		font-size:14px;
		font-weight: bold;
	}
	.twbs .clear_box
	{
		width: 10%;
	    text-align: center;
	    background: #eb0a0a;
	    color: #fff;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    font-size: 10px;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    border-top-right-radius: 10px;
	    border-bottom-right-radius: 10px;
	    font-weight: bold;
	    cursor: pointer;

	}
	.twbs .clear_box:hover
	{
		opacity: 0.7;
	}
	.twbs .totals
	{
		color:#000;
	}
	.twbs .totals div.head
	{
		font-size: 14px;
    	color: #ad0d0d;
	}
	.twbs .totals div.cnt
	{
		font-size: 30px;
    	font-weight: bold;
    	color: #000;
	}
